@import ur1(sanitize.css);

body{
    background-color: rgb(196, 145, 145);
    padding: 10px;
    font-size: 14px;
    color: #666;
}
.container{
    wedth: 800px;
    margin: 0 auto;
    box-shadow: 0 0 10px black;
}
header{
    background-color: #422814;
    padding: 10px;
    color: #fff;
}
header h1{
    margin: 0;
    font-size: 24px;
    font-weight normal;
    text-align: center;
}
.description img{
    float: left;
    margin: 0 10px 10px 0;
}
.information h1{
    font-size: 22px;
    margin: 0 10px 10px 0;
    float:left;
}
.description{
    clear: left;
}
.information .type{
    display: inline;
    padding: 3px 5px;
    font-size 80%;
    color: #FFF;
    background-color: pink;
}